.add-album-container {
    width: 400px;
    margin: 200px auto;
    padding: 20px;
    background-color: #f9f9f97e;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-album-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.add-album-container form {
    display: flex;
    flex-direction: column;
}

.add-album-container input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.add-album-container button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    align-self: flex-end;
}

.add-album-container button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
@media screen and (max-width: 480px) {
    .add-album-container {
        width: 90%;
    }
}